{%extends 'inicioBase.html'%}
{%block content%}
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Ingrese su fecha de Estadía</h2>
                <form id="dateForm">
                    <label for="startDate">Fecha de Inicio:</label>
                    <input type="date" id="startDate" name="startDate" onchange="calculateTotal()" required>
                    <br><br>
                    <label for="endDate">Fecha de Término:</label>
                    <input type="date" id="endDate" name="endDate" onchange="calculateTotal()" required>
                    <br><br>
                </form>
                <br>
                <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="mb-3">
                          <div class="form-label">Número de Tarjeta</div>
                          <input type="text" name="input-mask" class="form-control" data-mask="0000 0000 0000 0000" data-mask-visible="true" placeholder="0000 0000 0000 0000"autocomplete="off"/>
                        </div>
                        <div class="mb-3">
                          <div class="form-label">Titual de la tarjeta</div>
                          <input type="text" class="form-control">
                        </div>
                        <div class="row">
                          <div class="col-8">
                            <div class="mb-3"> <!--Fecha de Vencimiento-->
                              <label class="form-label">Fecha de Venc. (MM/YYYY)</label>
                              <div class="row g-2">
                                <div class="col">
                                  <select class="form-select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                  </select>
                                </div>
                                <div class="col">
                                  <select class="form-select">
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="mb-3">
                              <div class="form-label">CVV</div>
                              <input type="text" class="form-control" id="cvv" maxlength="3" oninput="validateCVV(this)">
                            </div>
                          </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary" onclick="window.location.href='/reserva/pagoCompletado'">Completar Reserva</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                <strong id="result"></strong>
                <br>
                <span id="mensaje"></span>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/reserva.js"></script>
<script>
    function validateCVV(input) {
        input.value = input.value.replace(/[^0-9]/g, ''); // Eliminar cualquier carácter que no sea numérico
        if (input.value.length > 3) {
            input.value = input.value.slice(0, 3); // Limitar la longitud a 3 caracteres
        }
    }
</script>
{%endblock%}