{%extends 'inicioBase.html'%}
{%block content%}

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Pago Completado ✅</h2>
                <p class="text-center">Su pago ha sido completado con éxito.</p>
                <p class="text-center">Gracias por preferirnos.</p>
                <div class="text-center">
                    <a href="/">Volver al Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/reserva.js"></script>
{%endblock%}