<div class="modal modal-blur fade" id="#modal-actualizar-habitacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Habitacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label">Númnero Habitacion <span class="required">*</span> </label>
                        <input id="numeroHabitacion" type="number" class="form-control" name="example-text-input"
                            value="100" min="100" placeholder="Número de habitación" required>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Cantidad dormitorios <span class="required">*</span> </label>
                        <input id="cantDormitorios" type="number" class="form-control" name="example-text-input"
                            value="1" min="1" max="12" placeholder="Cantidad de dormitorios" required>
                        <br>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Cantidad de baños <span class="required">*</span> </label>
                        <input id="numBanos" type="number" class="form-control" name="example-text-input" value="1"
                            min="1" max="6" placeholder="Baños" required>
                        <br>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Cantidad de camas <span class="required">*</span> </label>
                        <input id="numCamas" type="number" class="form-control" name="example-text-input" value="1"
                            min="1" max="8" placeholder="Camas" required>
                        <br>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Tamaño de camas <span class="required">*</span> </label>
                        <select id="cbTamano" class="form-select" name="tamano-camas" required>
                            <option value="">Seleccione el tamaño de la cama</option>
                            <option value="individual">Individual</option>
                            <option value="doble">Doble</option>
                            <option value="queen">Queen</option>
                            <option value="king">King</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Capacidad <span class="required">*</span> </label>
                        <input id="cantPersonasDisp" type="number" class="form-control" name="example-text-input"
                            value="1" min="1" max="10" placeholder="Cantidad de personas Max." required>
                        <br>
                    </div>
                    <div class="col-lg-5">
                        <label class="form-label">Precio <span class="required">*</span> </label>
                        <div class="input-group input-group-flat">
                            <span class="input-group-text">
                                $
                            </span>
                            <input id="numPrecio" type="number" class="form-control" name="example-text-input"
                                value="50.000" min="50.000" placeholder="Precio" required>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-7">
                        <label class="form-label">Estado de la Habitacion <span class="required">*</span> </label>
                        <select id="cbEstado" class="form-select" name="estado-habitacion" required>
                            <option value="">Seleccione el estado</option>
                            <option value="disponible">Disponible</option>
                            <option value="ocupada">Ocupada</option>
                            <option value="limpieza">En Limpieza</option>
                            <option value="mantenimiento">En Mantenimiento</option>
                            <option value="reserva">En Reserva</option>
                            <option value="tiempoLimitado">Oferta por Tiempo Limitado</option>
                            <option value="oportunidadUnica">Oportunidad Única</option>
                            <option value="promocion">En Promoción</option>
                            <option value="exclusiva">Habitación Exclusiva</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Serivicios Adicionales <span class="required">*</span> </label><span>
                            <select id="cbServicios" class="form-select" name="tamano-camas" required>
                            </select>
                            <br>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Tipo de Habitacion <span class="required">*</span> </label>
                        <select id="cbTipoHab" class="form-select" name="tamano-camas" required>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Empleado <span class="required">*</span></label>
                        <select id="cbEmpleado" class="form-select" name="tamano-camas" required>
                        </select>
                        <br>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Hotel <span class="required">*</span> </label>
                        <select id="cbHotel" class="form-select" name="hotelId" required>
                            <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <label class="form-label">Informacion Adicional</label>
                            <textarea id="taAdicional" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancelar
                </a>
                <button id="btActualizar" class="btn btn-primary" onclick="actualizar()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                    </svg>
                    Actualizar Habitacion
                </button>
                </a>
            </div>
        </div>
    </div>
</div>