{%extends 'baseAdmin.html'%}

{%block content%}

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                            data-bs-target="#modal-agregar-servicio">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                            Agregar un Servicio
                        </a>
                        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                            data-bs-target="#modal-report" aria-label="Create new report">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    <div id="table-default" class="table-responsive">
                        <div class="search-container">
                            <input id="buscarServicio" class="search-input" type="text" placeholder="Buscar"
                                oninput="buscarServicio()" />
                        </div>
                        <div id="no-results" class="text-center" style="display: none;">
                            <p>No se encontraron resultados para su búsqueda.</p>
                        </div>
                        <table id="servicio-table" class="table">
                            <thead>
                                <tr>
                                    <th><button class="table-sort" data-sort="sort-quantity">#</button></th>
                                    <th><button class="table-sort" data-sort="sort-text">Nombre del servicio</button>
                                    </th>
                                    <th><button class="table-sort" data-sort="sort-quantity">Descripcion</button></th>
                                    <th><button class="table-sort" data-sort="sort-quantity">Precio</button></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <!--Se llena con JavaScript-->
                            </tbody>
                        </table>
                        <br>
                        <div class="text-end">
                            <button class="btn btn-primary" onclick="crearPDF()">
                                Descargar PDF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-agregar-servicio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-lg-4">
                    <label class="form-label">Nombre del Servicio <span class="required">*</span> </label>
                    <input id="nombreServicioAd" type="text" class="form-control" name="example-text-input"
                        placeholder="Nombre del servicio" required> <br>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <label class="form-label">Descripcion del Servicio</label>
                            <textarea id="descripcionServicioAd" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label">Precio<span class="required">*</span> </label>
                    <div class="input-group input-group-flat">
                        <span class="input-group-text">
                            $
                        </span>
                        <input id="precioServicioAd" type="number" class="form-control" name="example-text-input"
                            value="500.000" min="500.000" placeholder="Precio" required>
                    </div>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancelar
                </a>
                <button id="btAgregar" class="btn btn-primary" onclick="agregarServicio()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                    </svg>
                    Agregar servicio
                </button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/servicios.js"></script>
<script>
    $(document).ready(function () {
        listarServicios();
    });

    function listarServicios() {
        $.ajax({
            type: "GET",
            url: url_api + lo_path,
            dataType: "json",
            success: function (data) {
                const tbody = $('#servicio-table tbody');
                tbody.empty(); // Limpiar el contenido anterior

                data.forEach((servicio, index) => {
                    const row = `
                        <tr>
                            <td class="div-table-cell">${servicio.idServicioAdicional}</td>
                            <td class="div-table-cell">${servicio.nombre}</td>
                            <td class="div-table-cell">${servicio.descripcion}</td>
                            <td class="div-table-cell">${servicio.precio}</td>
                            <td class="div-table-cell"><button class="btn btn-primary" onclick="modificar()">Actualizar </button></td>
                            <td class="div-table-cell"><button class="btn btn-danger" onclick="eliminarServicio(${servicio.idServicioAdicional})">Eliminar</button></td>
                        </tr>
                    `;
                    tbody.append(row);
                });
            },
            error: function (xhr, status, error) {
                console.error('Error al obtener los servicios:', error);
            }
        });
    }

    function buscarServicio() {
        const searchValue = $('#buscarServicio').val().toLowerCase();
        let found = false;

        $('#servicio-table tbody tr').each(function () {
            const row = $(this);
            const idServicioAdicional = row.find('td:nth-child(1)').text().toLowerCase();

            if (idServicioAdicional.includes(searchValue)) {
                // Resaltar el texto buscado (opcional)
                const highlighted = idServicioAdicional.replace(new RegExp(searchValue, 'gi'), (match) => `<mark>${match}</mark>`);
                row.find('td:nth-child(1)').html(highlighted);

                row.fadeIn(); // Animación suave para mostrar
                found = true;
            } else {
                row.fadeOut(); // Animación suave para ocultar
            }
        });

        // Mostrar mensaje si no se encontraron resultados
        if (!found) {
            $('#no-results').show();
        } else {
            $('#no-results').hide();
        }
    }

    let typingTimer;
    $('#buscarServicio').on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(buscarServicio, 500);
    });


    function eliminarServicio(idServicioAdicional) {
        // Mostrar una alerta de confirmación con SweetAlert
        swal({
            title: "¿Estás seguro?",
            text: "Estás a punto de eliminar un Servicio. Esta acción no se puede revertir.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: url_api + lo_path + idServicioAdicional, // Suponiendo que el endpoint DELETE es /habitacion/{idHabitacion}
                        success: function (response) {
                            swal("Servicio eliminado correctamente", {
                                icon: "success",
                            });
                            listarServicios(); // Actualizar la lista después de la eliminación
                        },
                        error: function (xhr, status, error) {
                            swal("Error al eliminar el servicio", {
                                icon: "error",
                            });
                        }
                    });
                } else {
                    swal("El servicio no ha sido eliminada");
                }
            });
    }


    function crearPDF() {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();
        const table = document.getElementById('servicio-table');
        const rows = table.getElementsByTagName('tr');

        const columns = [
            "ID",
            "Nombre del servicio",
            "Descripcion",
            "Precio"
        ];
        const data = [];

        // Obtener los datos de la tabla
        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            const rowData = [];
            for (let j = 0; j < cells.length - 2; j++) { // Omitir las últimas dos columnas (acciones)
                rowData.push(cells[j].innerText);
            }
            data.push(rowData);
        }

        // Usar autotable para generar la tabla en el PDF con cabeceras
        doc.autoTable({
            head: [columns],
            body: data,
        });

        doc.save('servicioAd.pdf');
    }

    function modificar() {
        // Redirigir a la página de actualización sin ID
        window.location.href = 'actualizar/';
    }

    //Pagina Privada
    function cargarInicio() {
        adminLogin(true);
    }
</script>

{%endblock%}