{%extends 'baseAdmin.html'%}

{%block content%}


<div class="modal modal-blur fade" id="modal-actualizar-usuario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">Usuario (nombre)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="form-label">Nombre de usuario <span class="required">*</span> </label>
                            <input id="usuario" type="text" class="form-control" name="example-text-input"
                                placeholder="Usuario123" required>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Correo <span class="required">*</span> </label>
                            <input id="correo" type="email" class="form-control" name="example-text-input"
                                placeholder="ejemplo@gmail.com" required>
                            <br>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Contraseña <span class="required">*</span> </label>
                            <input id="contrasena" type="password" class="form-control" name="example-text-input"
                                placeholder="contraseña1234" required>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </a>
                    <button id="btActualizar" type="button" class="btn btn-primary" onclick="actualizarUsuario()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 5v14"/>
                            <path d="M5 12h14"/>
                        </svg>
                        Actualizar Usuario
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/js-users-emp/usuarios.js"></script>

{%endblock%}